[Unit]
Description=KreaDental Cloud Gunicorn daemon
Requires=kreadental.socket
After=network.target

[Service]
Type=notify
User=kreadental
Group=kreadental
RuntimeDirectory=kreadental
WorkingDirectory=/var/www/kreadental
ExecStart=/var/www/kreadental/venv/bin/gunicorn --config gunicorn_config.py config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Environment=DJANGO_SETTINGS_MODULE=config.settings_production

[Install]
WantedBy=multi-user.target
