[Unit]
Description=KreaDental socket

[Socket]
ListenStream=/run/kreadental.sock
SocketUser=www-data
SocketMode=600

[Install]
WantedBy=sockets.target
