{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputUsername" type="text" name="username" placeholder="Usuario" required />
                            <label for="inputUsername">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Contraseña" required />
                            <label for="inputPassword">Contraseña</label>
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <p>Usuario o contraseña incorrectos. Por favor intente nuevamente.</p>
                        </div>
                        {% endif %}
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
