.button {
    background-color: #417690;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin: 2px 0;
}

.button:hover {
    background-color: #2b5070;
    color: white;
    text-decoration: none;
} 